//slide 2 items


.wipes__section--third {

   .item {

      &__bowl {
         //width: 255px;
         @include proportionalWidthReduce(255px);
         right: -125px;
         bottom: 80px;

         @media screen and (min-width: $xlarge-breakpoint) {
            right: 0px;
         }
      }

      &__coffee {
         //width: 244px;
         @include proportionalWidthReduce(244px);
         bottom: 50%;

         @media screen and (min-width: $xlarge-breakpoint) {
            left: 170px;
         }
      }

      &__headphone {
         //width: 457px;
         @include proportionalWidthReduce(457px);
         right: 0;
         bottom: 150px;
         display: none;

         @media screen and (min-width: $xlarge-breakpoint) {

         }
      }

      &__phone {
         left: -50px;
         //width: 270px;
         @include proportionalWidthReduce(270px);

         @media screen and (min-width: $xlarge-breakpoint) {
            left: 60px;
         }
      }

      &__tablet {
         right: -160px;
         bottom: 30vh;
         //width: 451px;
         @include proportionalWidthReduce(451px);

         @media screen and (min-width: $xlarge-breakpoint) {
            right: -50px;
         }
      }

      &__wallet {
         left: 250px;
         bottom: 40px;
         //width: 237px;
         @include proportionalWidthReduce(237px);

         @media screen and (min-width: $xlarge-breakpoint) {
            left: 340px;
         }
      }

      &__jar {
         right: 500px;
         top: 0px;
         //width: 230px;
         @include proportionalWidthReduce(230px);

         @media screen and (min-width: $xlarge-breakpoint) {

         }
      }

   }

}
