//text

.show-for-extra-small-only {
   display: none;
   @media screen and (max-width: $i5-breakpoint) {
      display: block;
   }
}


.hide-for-extra-small-only {
   display: block;
   @media screen and (max-width: $i5-breakpoint) {
      display: none;
   }
}


.text {

   &__wrapper {
      @include textWidthReduce(60%);
      position: absolute;
      margin-left: 45%;
      top: 25vh;
   }

   &__section {
      position: absolute;
      top: 0px;
      width: 100%;

      @media screen and (max-width: $i5-breakpoint) {
         top: 15px;
      }


      .appicons {
         margin-top: 240px;
         width: 80%;
         opacity: 0;

         @media screen and (max-width: $small-breakpoint) {
            display: none;
         }
      }


      h2, p {
         color: palette(white);
         opacity: 0;
         margin-top:30px;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
      }

      h2 {
         font-size: 1.8rem;
         margin-bottom: 20px;

         @media screen and (max-width: $small-breakpoint) {
            font-size: 1.2rem;
         }
      }

      p {
         font-size: 0.9rem;
         font-weight: 100;
         top: 60px;

         @media screen and (max-width: $ipad-breakpoint) {
            font-size: 0.9rem;
            font-weight: normal;
         }

         @media screen and (max-width: $small-breakpoint) {
            font-size: 0.9rem;
            top: 45px;
         }

         @media screen and (max-width: $i5-breakpoint) {
            font-weight: normal;
            font-size: 0.8rem;
         }
      }

      &.last {
         top: 13vh;

         @media screen and (max-width: $small-breakpoint) {
            top: 15vh;
         }

         h2, p {
            width: 100%;
            text-align: center;
            margin-top: 20px;

            @media screen and (max-width: $small-breakpoint) {
               top: 30px;
               padding: 0 13%;
            }

            @media screen and (max-width: $xsmall-breakpoint) {
               top: 30px;
               padding: 0 5%;
            }
         }

         .currencies {
            @media screen and (max-width: $small-breakpoint) {

            }
         }

         p {
            font-size: 1.1rem;

            @media screen and (max-width: $small-breakpoint) {
               font-size: 0.9rem;
               top: 90px;
            }

            &#apptext {

               @media screen and (max-width: $small-breakpoint) {
                  top: 195px;
               }
            }

            span {
               font-weight: bold;

            }
         }
      }
   }

}
