body {
    background: #939494 url('../img/shortstack_bg.jpg') top left repeat-x;
    color: white;
    margin: 0;
    border-top: 10px solid #f09208;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.desktop {
    background-color: #fff;
}
