.hero {
    padding: 0 40px;
    height: auto;
    background-size: 100%;
    padding-top: 50px;

    @media screen and (max-width: 768px) {
        padding: 30px 15px 0px;
    }

    &__imgcont {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }

    &__logo {
        width: 240px;
        margin-left: 100px;

        @media screen and (max-width: 485px) {
            float: none;
            margin: auto;
            display: block;
        }
    }

    &__sublogo {
        width: 360px;
        float: left;

        @media screen and (max-width: 405px) {
            width: 100%;
        }
    }

    p {
        font-family: 'bignoodletitlingregular';
        font-size: 18px;
        width: 75%;
        color: white;

        @media screen and (max-width: 640px) {
            width: 100%;
        }
    }
}
