.quiz {
    padding: 20px 40px;

    &.tiebreak__wrapper {
        padding: 0;
    }

    @media screen and (max-width: 768px) {
        padding: 0 15px 15px;
    }
}


.quiz__answerdisplay {
    width: 100%;
    margin: auto;
    height: auto;
    overflow: hidden;
    position: relative;
    border-top: 8px solid #f09208;

    background: #cececf; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #cececf 0%, #e3e4e6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #cececf 0%,#e3e4e6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #cececf 0%,#e3e4e6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cececf', endColorstr='#e3e4e6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


    &--img {
        width: 600px;
        position: absolute;
        left: -100px;
        bottom: 0;

        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        //
        // @media screen and (max-width: 550px) {
        //     position: relative;
        //     border-bottom: 10px solid #a4a4a4;
        //     background-color: black;
        //     left: -100px;
        // }
    }

    &--text {
        float: right;
        width: 100%;
        color: #33373b;
        display: none;
    }

    &--textwrapper {
        background-color: #a4a4a4;

        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }

    &--class {
        font-family: 'bignoodletitlingoblique';
        font-size: 100px;
        line-height: 80px;
        text-align: right;
        padding-right: 20px;
        margin-top: 30px;
        color: #33373b;

        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }

    &--description {
        font-size: 16px;
        font-family: "futura-pt",sans-serif;
        font-style: normal;
        font-weight: 400;
        width: 40%;
        float: right;
        text-align: right;
        padding: 20px;

        @media screen and (max-width: 650px) {
            width: 50%;
        }

        @media screen and (max-width: 465px) {
            width: auto;
        }
    }


    .quiz__answerdisplay--img, .quiz__answerdisplay--class, .quiz__answerdisplay--textwrapper {
        &.active {
            visibility: visible;
            opacity: 1;
        }
    }

    .quiz__answerdisplay--img {
        &.active {
            left: -100px;

            @media screen and (max-width: 840px) {
                left: -120px;
            }

            @media screen and (max-width: 780px) {
                left: -200px;
            }

            @media screen and (max-width: 650px) {
                left: -300px;
            }

            @media screen and (max-width: 550px) {
                position: relative;
                border-bottom: 10px solid #a4a4a4;
                background-color: black;
                left: 0;
                width: 100%;
            }
        }
    }
}

.quiz__item {
    width: 48.5%;
    padding-bottom: 30px;
    padding-right: 1.5%;
    display: table-cell;

    @media screen and (max-width: 768px) {
        display: block;
        width: 100%;
        padding: 0;
        float: left;
        margin-bottom: 30px;
    }

    &:last-child {
        padding-left: 1.5%;
        padding-right: 0;

        @media screen and (max-width: 768px) {
            display: block;
            width: 100%;
            padding: 0;
            float: left;
        }
    }


    & > label {
        font-family: 'bignoodletitlingregular';
        font-size: 25px;
        letter-spacing: 1px;
        display: block;
        margin-bottom: 10px;
        color: white;
    }

    & > div {
        label {
            font-family: "futura-pt",sans-serif;
            font-style: italic;
            font-weight: 700;
            font-size: 16px;
            display: block;
            color: white;
        }
    }
}

.quiz__row {
    width: 100%;
    color: white;
    display: table;

    @media screen and (max-width: 768px) {
        display: block;
        width: 100%;
        padding: 0;
    }
}

.quiz__number {
    font-family: 'bignoodletitlingoblique';
    padding: 10px 8px 0px;
    line-height: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
    letter-spacing: 1px;

    background: -moz-linear-gradient(left,  rgba(240,165,13,1) 0%, rgba(240,146,8,0.89) 10%, rgba(203,91,41,0.3) 62%, rgba(170,104,41,0) 89%, rgba(169,104,41,0) 90%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(240,165,13,1) 0%,rgba(240,146,8,0.89) 10%,rgba(203,91,41,0.3) 62%,rgba(170,104,41,0) 89%,rgba(169,104,41,0) 90%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(240,165,13,1) 0%,rgba(240,146,8,0.89) 10%,rgba(203,91,41,0.3) 62%,rgba(170,104,41,0) 89%,rgba(169,104,41,0) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0a50d', endColorstr='#00a96829',GradientType=1 ); /* IE6-9 */


    font-size: 24px;
    width: 140px;
}

.quiz__submittext {
    padding: 20px 40px;

    p {
        float: none;
        width:100%;
        margin: 0px;
        font-family: 'bignoodletitlingoblique';
        font-style: italic;
        font-weight: 400;
        font-size: 32px;
        padding-right: 60px;
        color: #33373b;
        text-align: center;
        margin-bottom: 20px;

        @media screen and (max-width: 768px) {
            float: none;
            display: block;
            margin: 10px auto 25px;
            width: 100%;
            text-align: center;
        }
    }

    button {
        margin: auto;
        display: block;


        @media screen and (max-width: 768px) {
            float: none;
            display: block;
            margin: 10px auto;
        }
    }
}

.quiz__radios {
    display: table;
    table-layout: fixed;
    width: 100%;
}

#share {
    display: none;
}

#content_share {
    display: table;
    text-align: right;
    float: right;
    padding: 15px 20px;
    margin-top: 0px;

    &.cf:before,
    &.cf:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    &.cf:after {
        clear: both;
    }

}

.ss_share_prompt {
    font-family: 'bignoodletitlingoblique';
    color: #33373b;
}

.ss_share_content div.ss_share_prompt {
    display: table-cell;
    vertical-align: bottom;
    font-size: 20px;
    line-height: 16px;
}

.ss_share_content li {
    margin-left: 8px;

    &:first-child {
        margin-left: 16px;
    }
}

.ss_share_content ul {
    display: table-cell;
}
