.radio__container {
    width: 50%;
    float: left;
    display: block;
    margin-top: 0px;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;

    @media screen and (max-width: 465px) {
        width: 100%;
    }

    &.disable {
        opacity: 0.5;
    }
}

input[type=radio]:not(old){
    width     : 2em;
    margin    : 0;
    padding   : 0;
    font-size : 1em;
    opacity   : 0;
}

input[type=radio]:not(old) + label{
    display      : table;
    line-height  : 1.5em;
}

input[type=radio]:not(old) + label > span > span {
    display: block;
    float: left;
    margin-right: 10px;
    height: 18px;
    width: 18px;
    border: 3px solid #f09208;
    border-radius: 50%;
}

.copy, .radio__wrapper {
    //padding-left: 25px;
    width: auto!important;
    height: auto!important;
    border: none!important;
    border-radius: auto!important;
    display: table-cell;
    vertical-align: top;
}

input[type=radio]:not(old):checked + label > span{
    background-color: black;
}

input[type=radio]:not(old):checked + label > span > span{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f09208;
    margin-top: 4px;
    margin-left: 4px;
}
