.ss__comp {
    background: white url(../img/comp_prizing-bg.jpg) top left no-repeat;
    background-size: cover;
    border-radius: 8px;
    padding: 15px;

    img {
        width: 100%;
    }

    p {
        font-family: "futura-pt",sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
    }
}

.ss_box_content {
    padding: 0;
    margin-top: 25px;
}

.ss__form {
    background-color: transparent;
}

#form_last_name_block {
    margin-top: 40px;
}

.ss_layout>.ss_layout_column {
    padding: 15px;
}

.horizontal_container .field_block, .email_field_block.field_block {
    width: 94%;
    display: block;
    position: relative;

    input {
        background-color: #e3e4e5;
        height: 35px;
        border: none;
        font-family: "futura-pt",sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        padding: 0 10px;
    }
}

.field_block input, .field_block textarea {
    width: 94%;
}

.main_field_label {
    font-family: "futura-pt",sans-serif;
    font-style: italic;
    font-weight: 700;
}

.ss__form .horizontal_container .field_block label.sublabel {
    position: absolute;
    top: -22px;
    font-family: "futura-pt",sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
}

.name_field_block .main_field_label {
    display: none;
}

.horizontal_container .field_block {
    margin: 0;
}

.field_block input, .field_block textarea {
    width: 100%;
}
